SERVER = 'http://apicn.faceplusplus.com/v2/'
# uncomment the following line to switch to US server
# SERVER = 'http://api.us.faceplusplus.com/'

API_KEY = '0b9ca8fca8041e791d684c0b88fe5708'
API_SECRET = '4WlmUalSo3_SLScJyBaaJvgMCWjK3-WR'
