SITE = "localhost:8010"
static_path = "static/"
DATABASE = {
    'database': 'yface',
    'host':     'localhost',
    'user':     'USER',
    'password': 'PASSWORD',
}
baidu_key = 'XXXXXXXXXXXXXXXXXXXXXXX'
